.budget-view-main {
  background: rgba(14, 39, 101, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;

  .budget-view {
    width: 100%;
    overflow: auto;
    .download-btn {
      // display: flex;
      // justify-content: start;
      // margin-bottom: 10px;
      // padding-right: 20px;
      display: flex;
      justify-content: start;
      position: fixed;
      // right: 30px;
      img {
        width: 24px;
        margin-right: 6px;
      }
      button {
        background: linear-gradient(45deg, #e6e6ff, #b3d8e9);
        padding: 7px 20px;
        border-radius: 100px;
        border: none;
        transition: all 0.2s linear;
        width: 140px;
        &:hover {
          box-shadow: 0px 5px 4px #ffffff4f;
        }
      }
    }
    .custom-table {
      color: $main-white;
      margin-top: 55px;
      thead {
        tr {
          background: #15023cad;
          border-radius: 5px;
          th {
            text-align: center;
            padding: 15px;
            border-right: 1px solid #3a216bad;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100px;
          }
        }
      }
      tbody {
        & tr:nth-child(odd) {
          background-color: #f9f9f934; /* Background color for odd rows */
        }

        & tr:nth-child(even) {
          background-color: #50494934; /* Background color for even rows */
        }
        tr {
          height: 70px;
          font-size: 14px;
          td {
            // padding: 15px 0px;
            // text-align: left;
            padding-left: 10px;
          }
        }
      }
    }
  }
}

// .budget-view {
//   a {
//     text-decoration: none;
//     color: $main-white;
//     background: #1f79a3;
//     padding: 6px 10px;
//     border-radius: 10px;
//     width: 140px;
//   }
// }
