* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin for-pc {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-mobile {
  @media (max-width: 700px) {
    @content;
  }
}
@import "../scss/dark-theme-files.scss";
@import "../scss/light-theme-files.scss";

@font-face {
  font-family: "Facto";
  src: url(../assets/Fonts/Facto.otf) format("opentype");
}
@font-face {
  font-family: "Facto-bold";
  src: url(../assets/Fonts/Facto_Bold.otf) format("opentype");
}
@font-face {
  font-family: "Facto-italic";
  src: url(../assets/Fonts/Facto_Thin_Italic.otf) format("opentype");
}
// @font-face {
//   font-family: "Facto-extra-bold";
//   src: url(../assets/Facto-extra-bold.otf) format("opentype");
// }
body {
  font-family: "Facto" !important;
  letter-spacing: 0.5px;
  background: linear-gradient(
    315deg,
    #7661b6,
    #f4bf8e 20.83%,
    #405cad 52.6%,
    #6cb8ff 76.56%,
    #2d539d
  );

  &.dark-theme {
    background-color: #080f25;
  }
}
h1,
h2,
h3,
h4,
h5 {
  color: $text-color;
}
span {
  color: $text-color;
}

.main-body {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  min-height: calc(100vh - 130px);
}
.body-wrapper {
  padding: 20px;
  border-radius: 0px 30px 30px 0px;
  background: hsla(0, 0%, 100%, 0.22);
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  // width: calc(100% - 230px);
  width: 85%;
  position: relative;
  border-radius: 30px;
  box-shadow: -30px -10px 40px rgba(0, 0, 0, 0.12);
}
.authentication-container {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  .authenticate-loader {
    display: flex;
    align-items: center;
    .loader-img {
      width: 20px;
      filter: invert(1);
      img {
        animation: loaderRotate 2s infinite linear;
      }
    }
    span {
      color: #fff;
      font-size: r;
      font-weight: 600;
      display: block;
      margin-left: 5px;
    }
  }
}

.select-search-container {
  width: 100%;
}
// .search-error-field {
.field-error {
  .select-search-input {
    border: 1px solid tomato !important;
  }
}
.truncate {
  // display: block;
  // width: 200px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.no-data-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 240px);
  p {
    color: #fff;
    font-size: 22px;
  }
  img {
    width: 500px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.loading-common {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  height: calc(100vh - 200px);
  img {
    width: 20px;
    filter: invert(1);
    margin-right: 5px;
    animation: loaderRotateSection 3s linear infinite;
  }
  span {
    color: #fff;
    font-size: 16px;
  }
}

@keyframes loaderRotateSection {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate-img {
  animation: loaderRotateSection 3s linear infinite;
}
//scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a6d4f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5382da;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2389b7;
}
