.main-header {
  padding: 10px 20px;
}

.home-main-wrapper {
  .hero-con {
    width: 80%;
    margin: auto;
    p {
      color: $text-color;
    }
    .review_span {
      color: $text-color;
    }
    img{
      filter: $filter;
    }

    .left {
      .verified_span{
        color: #4ca72c;
        font-size: 13px;
        display: flex;
        align-items: center;
        margin-left: 8px;
        img{
          width: 14px;
          margin-right: 4px;
        }
      }
      .rating-span {
        background: #4ca72c;
      }
      .address-con {
        img {
          height: 30px;
          margin-top: 5px;
          margin-right: 20px;
        }
      }
    }
    .right {
      max-width: 50%;
      overflow-x: auto;
      img {
        margin-right: 20px;
      }
    }

    .hero-bottom {
      .review-card {
        margin-right: 10px;
        width: 100%;
        .user-img {
          width: 35px;
          margin-right: 10px;
        }
      }
    }
  }

  .client-con {
    width: 80%;
    margin: auto;
    p{
      color: $text-color;
    }
    .client-card-con {
      .client-card {
        display: grid;
        place-items: center;
        box-shadow: 0px 2px 2px #ddd;
        border-radius: 5px;
        margin-right: 10px;
        width: 20%;
        img {
          width: 100px;
        }
        span{
          color: $text-color;
        }
      }
    }
  }
  .services-con {
    width: 80%;
    margin: auto;
    p{
      color: $text-color;
    }
    .services-card {
      display: grid;
      place-items: center;
      box-shadow: 0px 2px 2px #ddd;
      border-radius: 5px;
      margin-right: 10px;
      padding: 10px;
      img {
        width: 50%;
      }
    }
  }
  .sold-con {
    width: 80%;
    margin: auto;
    p{
      color: $text-color;
    }
    h2 {
      color: #57457c;
      font-weight: bold;
    }
    .sold-card-con {
      .sold-card {
        box-shadow: 0px 2px 2px #ddd;
        border-radius: 5px;
        margin-right: 10px;
        position: relative;
        width: 30%;
        overflow: hidden;
        margin: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          box-shadow: 0px 0px 5px #c1aeae;
        }
        .content-side {
          padding: 10px;
          .common_span{
            color: $text-color;
          }
          .rating-div {
            margin: 10px 0px;
            span {
              &:first-child {
                display: flex;
                align-items: center;
                justify-content: start;
                background: #4ca72c;
                padding: 0px 5px;
                color: #fff;
                border-radius: 4px;
                img {
                  width: 16px;
                  filter: invert(1);
                  margin-right: 6px;
                }
              }
              &:last-child {
                color: #8b8995;
                margin-left: 10px;
              }
            }
          }
        }
        .warranty-div {
          top: 0;
          right: 0;
          background: #fff1c5;
          border-radius: 4px;
          padding: 0px 2px;
        }
        .tyre-img {
          bottom: -20px;
          right: -47px;
          width: 45%;
        }
        // .image-side {
        //   img {
        //     width: 50px;
        //   }
        // }
      }
    }
  }
}

.bb-main-con {
  // height: calc(100vh - 100px);
  background: rgba(14, 39, 101, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  .form-div {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    .field-con {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: start;
      margin: 5px;
      width: 32%;
      color: $main-white;
      position: relative;
      .add-new-customer {
        position: absolute;
        color: #fff;
        font-size: 13px;
        right: 9px;
        top: 5px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
      }

      // .form-col-sec {
      img {
        position: absolute;
        top: 63%;
        right: 10px;
        width: 13px;
        filter: brightness(0) invert(1);
        transition: all 0.2s;
      }
      &:focus-within {
        img {
          transform: rotate(180deg);
        }
      }
      // }
      select {
        width: 100%;
        // background-image: linear-gradient(45deg, #e4dbe9, #e3d4ff4f);

        border-radius: 5px;
        font-size: 14px;
        // color: #20094a;
        outline: none;
        // border: 1px solid #fff;
        border: none;
        background: linear-gradient(45deg, #00000042, #00000029);
        padding: 10px;
        width: 100%;
        color: $main-white;
        height: auto;
        line-height: unset;
        font-family: "Facto";
        margin-top: 8px;
        option {
          color: $text-color;
          // &:hover {
          //   background: red !important;
          // }
        }
      }
      input {
        border-radius: 5px;
        font-size: 14px;
        outline: none;
        border: none;
        background: linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.2588235294),
          rgba(0, 0, 0, 0.1607843137)
        );
        padding: 10px;
        width: 100%;
        color: white;
        height: auto;
        line-height: unset;
        font-family: "Facto";
        margin-top: 8px;
        &::placeholder {
          color: $main-white;
          opacity: 0.8;
        }
      }
      .field-error {
        border: 1px solid rgb(228, 26, 26);
      }
    }
    .custom-select {
      &.field-error {
        border: 1px solid rgb(228, 26, 26);
      }
    }

    .child-con {
      width: 98%;
      border: 1px solid #d1d0d0;
      border-radius: 10px;
      margin: 20px 0px;
      padding-bottom: 10px;
      .child-body {
        width: 100%;
        padding: 10px;
        overflow-x: auto;
        .total-budget {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
          span {
            color: $main-white;
            margin-right: 10px;
          }
        }

        .row-data {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 10px;
          .select-filed {
            // align-items: center;
            // justify-content: center;
            display: flex;
            flex-direction: column;
            width: 12%;
            color: $main-white;
          }
          label {
            margin-bottom: 8px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100px;
          }
          input {
            width: 95%;
            padding: 5px;
            border-radius: 3px;
            border: none;
            outline: none;
          }
          .btn-delete {
            display: grid;
            place-items: end;
            img {
              width: 30px;
              filter: drop-shadow(2px 4px 6px rgb(48, 46, 46));
              cursor: pointer;
            }
          }
        }

        .custom-table {
          width: 100%;
          thead {
            th {
              color: $main-white;
              white-space: nowrap;
              padding: 8px;
              text-align: center;
            }
          }
          tbody {
            td {
              width: 13%;
            }
            .month-td-div {
              input {
                text-align: end !important;
              }
            }
            td {
              padding-right: 5px;
            }
            .total-row-cal {
              input {
                // border: 1px solid $main-white;
                background: #dddce3;
                color: $text-color;
                font-weight: bold;
                text-align: end;
              }
            }
            .total-month-tr {
              background: #dddce3;
              td {
                padding: 6px;
              }
            }
          }
          .header-th {
            text-align: center;
            color: $main-white;
            font-size: 22px;
            padding-bottom: 20px;
            span {
              color: $main-white;
              margin-left: 6px;
              padding: 0px 10px;
            }
          }
          .delete-row {
            img {
              cursor: pointer;
              filter: drop-shadow(2px 4px 6px rgb(51, 36, 36));
            }
            .delete-icon-disable {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
          select,
          input {
            width: 100%;
            border-radius: 5px;
            font-size: 14px;
            outline: none;
            border: none;
            background: linear-gradient(45deg, #cec8c842, #ebdddd29);
            padding: 10px;
            color: $main-white;
            height: auto;
            line-height: unset;
            font-family: "Facto";
            margin-top: 8px;
            option {
              color: $text-color;
            }
            &.field-error {
              border: 1px solid tomato;
            }
          }
        }
      }
      .total-row-calc {
        display: flex;
        span {
          text-align: center;
          width: 11.94%;
          display: block;
          background: #ddd;
          padding: 5px;
        }
      }
      .btn-grp {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        button {
          background-image: linear-gradient(45deg, #3e0606, #093a56);
          color: $main-white;
          box-shadow: 0px 3px 5px #a17d7d;
          border: none;
          padding: 10px 10px;
          border-radius: 5px;
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }
  }
  .btn-submit-con {
    text-align: center;
    .btn-submit {
      border: 1px solid $main-white;
      padding: 10px;
      border-radius: 30px;
      width: 150px;
      color: $main-white;
      font-weight: bold;
      background: transparent;
      transition: all 0.3s ease;
      &:hover{
        box-shadow: 0px 4px 5px rgb(143, 141, 141);
      }
    }
  }
}
.mandatory-small {
  color: tomato;
  font-size: 20px;
}

/*==============react-modal==================*/

.logout-confirmation-modal-container,
.modal-container {
  background-color: #fff;
  width: 500px;
  max-width: 100%;
  height: 200px;
  border: 1px soli transparent;
  -webkit-animation: fade_popup 0.25s linear;
  .logout-mark,
  .info-icon {
    max-width: 80px;
    margin: 0 auto 20px;
  }
  .confirmation-text,
  .main-text {
    font-size: 15px;
    text-align: center;
    font-family: "facto-bold", sans-serif;
  }
  .action-buttons {
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 45%;

    button {
      border: none;
      border-radius: 5px;
      padding: 8px 25px;
      cursor: pointer;
      font-size: 14px;
      margin: 10px;
    }

    .btn-cancel {
      background-color: #ff2a2a;
      color: white;
    }

    .btn-okay {
      background-color: #27b700;
      color: white;
    }
  }
}
.header-modal {
  background-color: #3e66b0;
  height: 40px;
  span {
    color: #fff;
    font-size: 13px;
    margin: 10px;
    float: left;
  }
}
.modal-body {
  display: grid;
  place-items: center;
  padding: 20px;
  height: 80%;
  color: #344767;
}
